// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.h-screen {
    height: 100vh;
}

.rendering {
    height: 200px;
    object-fit: cover;
}

.rendering-edit {
    height: 250px;
    object-fit: cover;
}